---
import Page from "../components/Page.astro";
---

<Page title="Portafolio">
  <h1>
     Portafolio of Angel Devia 
  </h1>
  <h2>Look my goals</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>Do you want to konw more about me, so read me ¨/</h2>
  <p>I look for to change the digital world</p><details open>
  <summary>Accordion 1</summary>
  <p>...</p>
</details>

<hr />

<details>
  <summary>Accordion 2</summary>
  <ul>
    <li>...</li>
    <li>...</li>
  </ul>
</details>
</Page>
