---
import Page from "../components/Page.astro";
---

<Page title="Portafolio">
<h1 data-aos="flip-right">Welcome to My Portfolio!</h1>
  <h2>Look my goals</h2>
 
  <nav>
   <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>


  <nav>
   <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>


  <nav>
   <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <nav>
   <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  
 
  
  
  
 
  
 
  <h2>Do you want to konw more about me, so read me ¨/</h2>
  <p>I look for to change the digital world</p><details open>
  <summary>Lo que pienso hacer en como programador</summary>
  <p>Crear una pagian en la cual publicar mi rendimiento como programamdor</p>
  <img src"https://th.bing.com/th/id/OIP.4fBu00COwVE8pfyFTTRswAHaE8?rs=1&pid=ImgDetMain">
</details>

<hr />

<details>
  <summary>Accordion 2</summary>
  <ul>
    <li>...fnerfvn</li>
    <li>wdmcosmdcos</li>
  </ul>
</details>
</Page>
