---
import Project from "../../components/Project.astro"
---

<Project
  title="Turtle"
  que podra ="funcionar"
>
  <iframe height="300" style="width: 100%;" scrolling="no" title="Text Interface Library + Turtle (In Series)" src="https://codepen.io/Angel-Devia/embed/emONbXO?default-tab=html%2Cresult" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
  See the Pen <a href="https://codepen.io/Angel-Devia/pen/emONbXO">
  Text Interface Library + Turtle (In Series)</a> by Angel Devia (<a href="https://codepen.io/Angel-Devia">@Angel-Devia</a>)
  on <a href="https://codepen.io">CodePen</a>.
</iframe>

</Project>